<div *ngIf="products.length == 0 || products.length == undefined">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">No tienes productos</h5>
      <p class="card-text">ve a la tienda y compra algo.
      </p>
      <a href="#" class="btn btn-primary" [routerLink]="['/products']">Ir a la tienda</a>
    </div>
  </div>
</div>

<div *ngIf="products.length > 0">
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>

                <th scope="col">Producto</th>

                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-right">Precio</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of products">

                <td>{{p.name}}</td>

                <td><input type="number" id="input-qty" name="qty" maxlength="5" (change)="onChange($event, p)" min="1"
                    max="999" [(ngModel)]="p.quantity" [(value)]="p.quatity" /></td>
                <td class="text-right">{{p.costPrice}} €</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-danger" (click)="deleteProduct(p)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>

                <td></td>
                <td>Sub-Total</td>
                <td class="prices">{{total  | number : '1.2-2'}} €</td>
              </tr>
              <tr>
                <td></td>

                <td></td>
                <td>Shipping</td>
                <td class="prices">{{shipping}} €</td>
              </tr>
              <tr>
                <td></td>

                <td></td>
                <td><strong>Total</strong></td>
                <td class="prices"><strong>{{total + shipping | number : '1.2-2'}} €</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right" *ngIf="!loading">
          <button class="btn btn-lg  btn-success text-uppercase col-12 col-md-4 botones" *ngIf="ifLogin()"
            [routerLink]="['/login']" [state]="{ flag: 'true'}">
            Pedir ahora
          </button>
        </div>
      </div>

      <div *ngIf="!ifLogin()">
        <div class="col mb-2">
          <div class="row">
            <div class="col">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked
                  (change)="onChangeRadio('rtienda')">
                <label class="custom-control-label" for="defaultChecked">Recoger en tienda</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios"
                  (change)="onChangeRadio('delivery')">
                <label class="custom-control-label" for="defaultUnchecked">Pedir a domicilio</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="defaultExampleRadios"
                  (change)="onChangeRadio('tienda')">
                <label class="custom-control-label" for="defaultUnchecked2">Tomar en mesa</label>
              </div>
            </div>
            <div class="col">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="tarjeta" name="formadepago" checked
                  (change)="formaDePago('tarjeta')">
                <label class="custom-control-label" for="tarjeta">Pagar con tarjeta</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="efectivo" name="formadepago"
                  (change)="formaDePago('efectivo')">
                <label class="custom-control-label" for="efectivo">Efectivo</label>
              </div>
              <!-- <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="credit" name="formadepago"
                  (change)="formaDePago('credit')">
                <label class="custom-control-label" for="credit">Solicitar credito</label>
              </div> -->
            </div>
          </div>
          <div class="form-group" *ngIf="displayForm">
            <label for="direccion">Dirección</label>
            <input ngx-google-places-autocomplete [options]='options' [(ngModel)]="user[0].calle" class="form-control"
              id="direccion" aria-describedby="direccionHelp" [(placeholder)]="user[0].calle"
              (input)="AddressChange('input')" (onAddressChange)="AddressChange($event)" />
            <p class="text-success" *ngIf="formattedaddress=='Podemos repartir'">{{ formattedaddress }}</p>
            <p class="text-danger" *ngIf="formattedaddress!='Podemos repartir'">{{ formattedaddress }}</p>
            <small id="direccionHelp" class="form-text text-muted">Si quiere otra dirección cambiela aqui</small>
            <br>
            <label for="cp">CP</label>
            <input [(ngModel)]="user[0].CP" type="text" class="form-control" id="cp" [(placeholder)]="user[0].CP">
            <br>
            <label for="poblacion">Poblacion</label>
            <input [(ngModel)]="user[0].poblacion" type="text" class="form-control" id="poblacion"
              [(placeholder)]="user[0].poblacion">
            <br>
            <label for="telefono">Telefono</label>
            <input [(ngModel)]="user[0].telefono" type="text" class="form-control" id="telefono"
              [(placeholder)]="user[0].telefono">
            <p class="text-danger" *ngIf="user[0].telefono.length <= 8">Por favor introduzca un telefono valido</p>
          </div>
          <br>
          <label for="exampleFormControlTextarea1">Notas:</label>
          <textarea [(ngModel)]="orderNotes" name="notes" class="form-control" rows="3"></textarea>
          <br>
          <div class="form-group">
            <div class="row">
              <label class="col">Selecciona fecha y hora de entrega/recogida:</label>
              <input class="col" [(ngModel)]="fechaRecogida" type="datetime-local" [(min)]="currentDate" required>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-lg  btn-danger text-uppercase col-12 col-md-4 botones"
              [routerLink]="['/product']">CONTINUAR COMPRANDO</button>
            <button class="btn btn-lg  btn-success text-uppercase col-12 col-md-4 botones"
              *ngIf="!ifLogin() && !loading"
              [disabled]="!fechaRecogida || user[0].poblacion == '' || user[0].CP == '' || user[0].direccion == '' || user[0].calle == '' || validateStreet == false  "
              (click)="pay(total)" data-target="#exampleModal">
              Pedir ahora
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Modal</h4>
                  </div>
                  <div class="modal-body">
                    Modal content
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #content let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h1>Error en estos momentos no estamos disponibles</h1>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
              </div>
            </ng-template>

            <ng-template #target let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h1>Por favor, la cantidad minima para pedir con tarjeta es de 15€</h1>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
              </div>
            </ng-template>

            <ng-template #usertarget let-modal>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h1>Por favor, rellene los datos de entrega</h1>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
              </div>
            </ng-template>

            <button *ngIf="loading" class="btn btn-lg btn-primary col-12 col-md-4 botones" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success" id="success-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Bien! </strong> Tu pedido se ha realizado.
</div>
<div class="alert alert-danger" id="danger-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Ohh! </strong> Parece que hay un problema por favor compruebe todos los datos.
</div>