html,
body {
    overflow-x: hidden  !important;
}

.upper {
    position: fixed;
    top: 23%;
    left: 40%;
    font-size: 5em;
}
h1{
    margin-left: 0.3em;
}

h3 {
    margin-left: 0.3em;
    position: fixed;
    top: 40%;
}

